<section>
    <div class="container">
        
        <form class="center" data-ng-submit="login()">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" id="userID" class="form-control" placeholder="User ID" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-block inverse-background inverse-text" type="submit">Sign in</button>
        </form>

    </div>
    
<section>

    
    