<div class="container-fluid">
    <div class="well well-sm">
        <table id="playerHistorySummary" class='table'>
            <thead>
                <th>PeriodID</th>
                <th>Slot Tier</th>
                <th>Table Tier</th>
                <th>Visits</th>
                <th>Slot CI</th>
                <th>Slot Win</th>
                <th>Slot Theo</th>
                <th>Free Play</th> 
                <th>Table Win</th>
                <th>Table Theo</th>
                <th>ADT</th>
                <th>ADA</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    
</div>
