<!-- Modal -->
<div id="player-lookup" class="modal fade" role="dialog">
  <div class="modal-dialog player-lookup">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Player Lookup</h4>
      </div>
      <div class="modal-body">
          
<!--        form elements      -->
<div class="well well-sm">
     <form class="form-inline" role="form">
  <div class="form-group">
    <label for="firstName">First Name:</label>
<!--    <input  data-ng-model="firstName" type="text" class="form-control player-lookup-input" id="firstName" value="{{firstName}}">-->
    <input  data-ng-model="firstName" type="text" class="form-control player-lookup-input" id="firstName" value="{{playerModel.playerId}}">
   </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input data-ng-model="lastName" type="text" class="form-control player-lookup-input" id="lastName" value="{{lastName}}">
   </div>
         <span><b>or</b></span>    
  <div class="form-group">
    <label for="birthdate">Birthdate:</label>
      <input style="width:140px"  type="date" id="birthdate" data-ng-model="birthdate" value="">
  </div>    
  <button id="playerLookupButton" data-ng-click="playerSearch()" type="submit" class="btn btn-default">Search</button>
</form>
</div>
<!--results-->
        <div class="container-fluid">
        <div ng-show="playerLookupResults"  class="well well-sm">  
        <table id="playerLookupTable" class='table'>

            <thead>
<!--                <th>Choose Player</th>-->
                <th>Player Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age Range</th>
                <th>City</th>
                <th>State</th>
                <th>Rank</th>
                <th>Birthdate</th>
            </thead>
            <tbody>
<!--
                <tr data-ng-repeat="result in lookupResults" data-repeat-complete-dir>
                    <td><input type="checkbox"/></td>
                    <td>{{result.PlayerID}}</td>
                    <td>{{result.FirstName}}</td>
                    <td>{{result.LastName}}</td>
                    <td>{{result.AgeRange}}</td>
                    <td>{{result.City}}</td>
                    <td>{{result.State}}</td>
                    <td>{{result.RankDesc}}</td>
                    <td>{{result.Birthday | date : 'MMM-d-yyyy'}}</td>
                </tr>
-->
            </tbody>
        </table>
              </div>  </div> 
         
     
      <div class="modal-footer">
        <button type="button" data-ng-click="cancelLookup()" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
             
      </div>
    </div>

  </div>
</div>