<section>
<!--Player Info-->
    <div class="well well-sm no-top-margin border-radius-4px">
        <div class="row">
            <div class="col-xs-3 col-sm-3"><h5>{{playerInfo.Name}}</h5> </div>
            <div class="col-xs-3 col-sm-3"><h5><label class="right-padding">Status:</label>{{playerInfo.Status}}</h5></div>
            <div class="col-xs-3 col-sm-3"><h5><label class="right-padding">Host:</label>{{playerInfo.Host}}</h5></div>
        </div>
        <div class="row">
        <div class="col-xs-9 col-sm-9">
             <form class="form-inline">
              <div class="form-group">                <label for="days">Analysis:</label>
                    <select class="form-control" name="report" id="report" data-ng-model="reportMain.selectedReport" data-ng-options="option.label for option in reportOptions track by option.state">
                    </select>
                  </div>
                  <button id="player-update-button" data-ng-click="runReport()" type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
         
        </div>
    </div>
<!--    REPORT VIEWS-->
    <div ui-view></div>

</section>