.center {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.no-top-padding {
    padding-top: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.right-padding {
    padding-right: 5px;
}

.inverse-background {
    background-color: #222;
}

.redfont {
    color: red; 
    font-weight: bold
}

.inverse-text {
    color: #9d9d9d;
}

.border-radius-4px {
    border-radius: 4px;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.bottom-margin-5 {
    margin-bottom: 5px;
}

.top-margin-5 {
    margin-top: 5px;
}

.top-margin-15 {
    margin-top: 15px;
    div {
        font-weight: bold;
    }
}

.height-500 {
    height: 500px;
}

.background-transparent {
    background-color: transparent;
}

.hide {
    display: none;
}